/questions/
/app/
__pycache__
web/__pycache__
configobj-5.0.6/_version.py
configobj-5.0.6/configobj.py
configobj-5.0.6/PKG-INFO
configobj-5.0.6/setup.py
configobj-5.0.6/validate.py
configobj-5.0.6/__pycache__/_version.cpython-35.pyc
configobj.pyc
Icon\r
.idea/.gitignore
.idea/encodings.xml
.idea/misc.xml
.idea/mkt.iml
.idea/modules.xml
.idea/vcs.xml
.ropeproject/config.py
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb
.settings/launch.json
.settings/settings.json
.vscode/launch.json
/venv/
