{% extends "layout.html" %}

{% block content %}
<!-- sidebar -->
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-margin-top" style="width:250px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-hide-large"
            onclick="w3_close()">Close &times;
    </button>
    <select class=" w3-block w3-light-grey w3-medium" id="courseSelect">
        {% for course in courses %}
        <option value={{course}}>{{course}}</option>
        {% endfor %}
    </select>
    <br/>
    <div id="categorySelect"></div>
    <br/>
</div>
<!--end sidebar -->

<div class="w3-main" style="margin-left:250px">
    <div class="w3-blue">
        <button class="w3-button w3-blue w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            <h1>Questions</h1>
        </div>
    </div>
    <div class="w3-container ">
        <div class="w3-cell-row">
            <div class="w3-cell">
                <h3 id=questionLabel>Select a question category from the left sidebar</h3>
            </div>
            <div class="w3-cell w3-right-align" id="addQuestionButton">
                <button onclick="document.getElementById('addQuestionModal').style.display='block'">Add Question
                </button>
            </div>
        </div>
        <div id=questions></div>
    </div>

</div>

<!-- The Modal -->
<div id="addQuestionModal" class="w3-modal">
    <div class="w3-modal-content">
            <form id="newQuestion" class="w3-container" method="post" >
            <span onclick="document.getElementById('addQuestionModal').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <div class="w3-section ">
                <label><b>Question Title: </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Enter Title" name="title" required>
                <label><b>Question Type: </b></label>
                <select class="w3-select w3-margin-bottom " required>
                    <option value="" disabled selected>Select Question Type</option>
                    <option value=tf>True/False</option>
                    <option value=shortAnswer>Short Answer</option>
                    <option value=longAnswer>Long Answer</option>
                    <option value=multipleChoice>Multiple Choice</option>
                    <option value=matching>Matching</option>
                </select>
                <label><b>Points </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Leave blank to use default for type"
                       name="points" />
                <label><b>Question </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Enter Question text" name="question"
                       required/>


                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Save</button>
            </div>
            </form>
    </div>
</div>



<script src="/static/js/main.js"></script>
{% endblock content %}