{% extends "layout.html" %}

{% block content %}
<!-- modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="fileModalContent" class="modal-content dark">
            <form id="fileSelect">
                <div class="modal-header">
                    <h5 class="modal-title">Choose Exam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal -->

<div class="wrapper">
<!-- sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <button id="uploadButton" class="w3-button" onclick="">
            <i class="fa fa-upload"></i>
        </button>
        <button class="pull-right w3-button" id="sidebarCollapse" style="width: 50px;">
            <i id="sidebarIcon" class="fa fa-angle-double-left" style="font-size: 20px;"></i>
        </button>
    </div>
    <!-- <select class=" w3-block w3-light-grey w3-medium" id="courseSelect">
        {% for course in courses %}
        <option value={{course}}>{{course}}</option>
        {% endfor %}
    </select> -->
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Question
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for course in courses %}
            <a class="dropdown-item" href="#">{{course}}</a>
            {% endfor %}
        </div>
    </div>
    <br/>

    <div id="categorySelect"></div>
    <br/> -->
</nav>
<!-- end sidebar -->

<!-- content -->
<div id="content">
    <div class="w3-container">
        <h1>Questions</h1>
    </div>
    <div class="w3-container ">
        <div class="w3-cell-row">
            <div class="w3-cell">
                <h3 id=questionLabel>Select a question category from the left sidebar</h3>
            </div>
            <div class="w3-cell w3-right-align" id="addQuestionButton">
                <button onclick="document.getElementById('addQuestionModal').style.display='block'">Add Question
                </button>
            </div>
        </div>
        <div id=questions></div>
    </div>
</div>
<!-- end content -->

</div>

<!-- The Modal -->
<!-- <div id="addQuestionModal" class="w3-modal">
    <div class="w3-modal-content">
            <form id="newQuestion" class="w3-container" method="post" >
            <span onclick="document.getElementById('addQuestionModal').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <div class="w3-section ">
                <label><b>Question Title: </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Enter Title" name="title" required>
                <label><b>Question Type: </b></label>
                <select class="w3-select w3-margin-bottom " required>
                    <option value="" disabled selected>Select Question Type</option>
                    <option value=tf>True/False</option>
                    <option value=shortAnswer>Short Answer</option>
                    <option value=longAnswer>Long Answer</option>
                    <option value=multipleChoice>Multiple Choice</option>
                    <option value=matching>Matching</option>
                </select>
                <label><b>Points </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Leave blank to use default for type"
                       name="points" />
                <label><b>Question </b></label>
                <input class="w3-input w3-margin-bottom" type="text" placeholder="Enter Question text" name="question"
                       required/>


                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Save</button>
            </div>
            </form>
    </div>
</div> -->


<style>
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: stretch;
    }

    #sidebar {
        width: 250px;
        position: absolute;
        height: calc(100% - 50px);
        top: 25;
        left: 0;
        z-index: 999;
        transition: all 0.3s;
        border-right: 1px solid #D0D3D4;
    }

    #sidebar.active {
        margin-left: -200px;
    }

    #content {
        margin-left: 250px;
        width: 100%;
        transition: all 0.3s;
    }

    #content.active {
        margin-left: 50px;
    }

    #fileModalContent.dark {
        background-color: #111;
        color: white;
    }

    #fileModalContent.dark .close{
        color: white;
    }

    .close {
        text-shadow: none;
    }

</style>

<script src="/static/js/main.js"></script>
<script>
    $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
        $('#content').toggleClass('active');
        if ($('#sidebar').hasClass('active')) {
            $('#sidebarIcon').removeClass("fa-angle-double-left").addClass("fa-angle-double-right");
        } else {
            $('#sidebarIcon').removeClass("fa-angle-double-right").addClass("fa-angle-double-left");
        }
    });

    $("#uploadButton").on('click', function() {
        $('#fileModal').modal('show');
    });
</script>
{% endblock content %}