<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MKTest</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="static/js/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="mySidebar">
            <button class="w3-bar-item w3-button w3-hide-large"
            onclick="w3_close()">Close &times;</button>
        <select id="courseSelect">
        {% for course in courses %}
            <option value={{course}}>{{course}}</h1>
        {% endfor %}
        </select>
        <br/>
        <div id="categorySelect"></div>
        
    </div>
    <div class="w3-main" style="margin-left:200px">
        <div class="w3-blue">
            <button class="w3-button w3-blue w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
            <h1>Questions</h1>
            </div>
        </div>
        
        <div class="w3-container">
            <h3 id=questionLabel>Select a question category from the left sidebar</h3>
            <div id=questions></div>
        </div>
               
    </div>
            
        

<script>  
        $('#courseSelect').change(function() {

            var optionSelected = $("select option:selected", this);
            var valueSelected = this.value;
            
            var data = "";
            $.ajax({
                type:"POST",
                url : "/changeCourse",
                data : {"selectedCourse": valueSelected},
                async: false,
                success : function(response) {
                    data = response;
                    return true;
            },
            error: function() {
          
            }
            });
     
            var string = data.split(",");
            var array = string.filter(function(e){return e;});
            var select = $('#categorySelect');
            select.empty();
         
            $.each(array, function(index, value) { 
                value = value.trim();
                value = value.substr(0,value.length - 1)
                value = value.substr(1, value.length)
                select.append(
                $('<div onClick="fileClick(\''+value+'\')" id="'+value+'"></div>').html(value)
            );
            });
        });


        function fileClick(fileName) {
            course = $('#courseSelect').find(":selected").text()
            
            $('#questionLabel').text(fileName);
            w3_close()
            var data = "";
            $.ajax({
                type:"POST",
                url : "/getQuestions",
                data : {"course": course, "fileName": fileName},
                async: false,
                success : function(response) {
                    data = response;
                    return true;
            },
            error: function() {
          
            }
            });
            var questions = $.parseJSON(data)
            for (var key in questions) {
                
                title = key.replace(course.trim()+"/questionPool/"+fileName.trim()+"/", "")
                output = "<div id=''"+key+"'>"
                output += title + " ("+questions[key].type+")"
                output += "</div>"
                $("#questions").append(output)
            }

            
        }

        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
        </script>
</body>
</html>