<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MKTest</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="static/js/jquery-3.4.1.min.js"></script>

</head>
<body>

        <div class="w3-bar w3-black"  >
            <span class =" w3-bar-item  w3-xlarge w3-text-red"><img height=26 src="static/images/mkt.png"/> MKTest </span>
                <a href="/home" class="w3-bar-item w3-button w3-padding-16">Test Generator</a>
                <a href="/editor" class="w3-bar-item w3-button w3-padding-16">Question Editor</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-right">Profile</a>
         
        </div>
    {% block content %}{% endblock %}
</body>
</html>